*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 6000px;
}
li{
    list-style-type: none;
}
.container-fluid{
    height: 150px;
    background-color: rgb(255, 254, 254);
    display: flex;
    flex-direction: row;
}
.container-fluid-go{
    margin-bottom: 40px;
    position: relative;
}
.container-fluid img{
    width: 150px;
    height: 150px;
    margin-left: 60px;
    display: block;
}
.container-fluid > button{
   width: 100px;
   height: 50px;
   font-size: 20px;
   display: block;
   margin-top: 75px;
   transform: translateY(-50%);
   background-color: white;

   
}
.container-fluid button a{
    text-decoration: none;
    padding: 5px;
}
.container-fluid > button:first-of-type{
    margin-left: 75%;
    margin-right: 1%;
    width: 80px;

}
.container-fluid > button:first-of-type a{
    color: green;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputs select,input{
    display: block;
}
#search_me{
    width: 260px;
    padding-left: 10px;
    opacity: 0.7;
}
#typ-search{
    width: 800px;
    height: 50px;
    padding-left: 10px;
}
#btn-search{
    width: 180px;
    font-size: 18px;
    background-color: black;
    color: white;

}
.sec1{
    margin-bottom: 70px;
}
/* //////////////////////////////////////////////////////////////////////// */
.container-prod .col-4-prod{
    width: 350px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 70px;
    transition: 2s;

}
.container-prod img{
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    margin-left: -13px;

}
.fav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: -30px;
    /* border: 2px solid blue; */
    width: 100%;
    /* position: relative; */
}
.fav i{
    font-size: 25px;
    margin-top: 4px;
    margin-left: 60px;
    /* z-index: 200; */
}
.fav input[type="button"]{
    display: block;
    background-color: aqua;
    /* margin-left: 20px; */
    padding: 5px;
    border-radius: 6px;
    /* z-index: 1000; */
}
.col-4-prod:hover{
    transform: scale(1.1);
    border: 1px solid black;
}
.btnfav {
    position: relative;
    width: 100px;
    margin-left: 5px;
}
.btncart {
    position: absolute;
    left: 20%;
    z-index: 2;
    background-color: aqua;
    padding: 5px;
    border-radius: 6px;
}

.btncart2 {
    position: absolute;
    z-index: 1;
    left: 20%;
    /* background-color: red; */
    /* display: none; */
    padding: 5px;
    border-radius: 6px;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
#userinfo{
    /* border: 2px solid red; */
    display: none;
    margin-top: 70px;
    transform: translateY(-50%);
    margin-left: 65%;
}
#userinfo #user{
    font-size: 18px;
    font-weight: bold;
}
#iconcart{
    font-size: 30px;
    color: blue;
    position: relative;
    margin-left: 60px;
    margin-right: 80px;
    /* margin: 0 80px; */
}
#iconcart #badge{
    font-size: 20px;
    position: absolute;
    top: -15px;
    background-color: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: none;
}
#logout{
    width: 100px;
   height: 50px;
   font-size: 20px;
   /* display: block; */
   /* margin-top: 75px; */
   transform: translateY(-30%);
   background-color: white;
   color: red;
}
#cartsproduct{
    border: 1px solid gray;
    border-radius: 5px;    
    position: absolute;
    top: 60%;
    left: 87%;
    /* width: 230px; */
    display: none;
}
#cartsproduct button{
    width: 35px;
    height: 50px;
    font-size: 24px;
    padding: 0;
    border-radius: 7px;
}
#cartsproduct button:hover{

    background-color: darkgrey;
    color: white;
    

}
.price{
    position: absolute;
    font-size: 20px;
    top: 15%;
    left: 60%;
}
#cartsproduct > div{
    margin-bottom: 30px;
}
#view{
    text-decoration: none;
    margin-left: 25px;
    /* padding: 5px; */
    /* border: 3px solid forestgreen; */
    font-size: 22px;
    color: black;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.cartrow img{
    width: 150px;
    height: 150px;
    margin-left: 60px;
    display: block;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.col-cart{
    position: relative; 
    width: 430px; 
    height: 220px;
    /* margin-top: 20px;  */
    /* margin: 2px;  */
    padding: 15px; 
    border-radius: 10px; 
    /* margin-bottom: 20px; */
    border: 1px solid gray;
    transition: 1s;

}
.col-cart:hover{
     border: 3px solid red;
     transform: scale(1.1);
}
.col-cart img{
    height: 170px;
    width: 110px;
    margin-left: 20px;
    border-radius: 10px;

}

.col-cart div{
    position: absolute;
     /* border: 2px solid blue; */
     top: 10px;
     left: 40%;
}
.col-cart div #name{
    font-weight: bold;
    font-size: 26px;
}
.categorycart,.pricecart{
    font-size: 20px;

}
.col-cart div button{
    width: 30px;
    height: 40px;
    font-size: 20px;
    border-radius: 4px;

}
.btncart25{
    margin-left: 20px;
    padding: 5px;
    border-radius: 6px;
}
/* ////////////////////////////////////////////////////// */
.col-cart2{
    /* margin-left: 30px; */
    text-align: center;
    width: 302px !important;
    height: 440px;
    position: relative;
}
.col-cart2 img{
    width: 300px;
    height: 300px;
    margin-left: -12px;
    margin-top: -15px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}
.col-cart2 #name{
    font-weight: bold;
    font-size: 26px;
}
.col-cart2 .categorycart{
    font-size: 20px;

}
.col-cart2 i{
    font-size: 20px;
    color: red !important;
}